.sidebar{
    flex:1 1 20%;
    position: relative;
    margin-right: 2px;

    &__container{
        padding:20px;
    }

    &__resizer{
        position: absolute;
            top: 0;
            right: -2px;
            width: 2px;
            background: #000;
            height: 100vh;
            z-index: 2;
            cursor: col-resize;
    }

    &__resize{
        cursor:col-resize
    }

    &__orders{
        margin-bottom: 20px;
    }
    &__order{
        cursor:pointer;
        color:#555;
        flex-direction: column;
        
    }
    &__order:hover{
        background: #eee;
    }

    &__edit{
        font-size: 20px;
        padding-right: 10;
        color: #fff
    }

    &__remove{
        font-size: 20px;
        color: orangered
    }
    
}
.active, .active:hover{
    color:#fff;
    background:rgb(45, 25, 119);
    color:#fff
}

.order{
    &__text{
        overflow-x: auto;
    }
    &__text::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        background-color: #f9f9fd;
      }
      
      &__text::-webkit-scrollbar-thumb {
        background-color: #ccc;
      }
      
      &__text::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
        background-color: #f9f9fd;
      }
}

